In [6]:
import cx_Oracle as ora

dsnStr = ora.makedsn(host="10.60.54.12", port="1521", service_name="DEC_DATA")
con = ora.connect(user="ADM32157HIEUNGUYENPHI", password="ADM32157HIEU", dsn=dsnStr)

tmp = '''
(SELECT A.*,CASE WHEN  A1.TOTAL_AMT IS NULL OR  A1.TOTAL_AMT = 0 THEN 'nontransactional' else 'transactional' end as TYPE_LV3
               ,A1.TOTAL_AMT, A1.TOTAL_TRANS
          FROM DEC_BU.MY_CHURN_DASHBOARD_DETAIL A
                   LEFT JOIN DEC_BU.MY_CHURN_DASHBOARD_ONLTRANS A1
                             ON A.CLIENT_NO = A1.CLIENT_NO AND A.DATETIME = A1.DATETIME
          WHERE A.TYPE_LV1 IS NOT NULL)
'''

query = '''

SELECT DATETIME, (COUNT(CLIENT_NO)) AS VOL FROM ''' + tmp + '''
WHERE TYPE_LV2 in ('wonback_users','active_new_accquired_user')
GROUP BY DATETIME
'''
c = con.cursor()
df = c.execute(query).fetchall()

In [22]:
import pandas as pd

net_gain = pd.DataFrame([list(row) for row in df], columns = [row[0] for row in c.description])
net_gain.to_csv('net_gain.csv', index=False)

In [26]:
dsnStr = ora.makedsn(host="10.60.54.12", port="1521", service_name="DEC_DATA")
con = ora.connect(user="ADM32157HIEUNGUYENPHI", password="ADM32157HIEU", dsn=dsnStr)
c = con.cursor()
query = 'SELECT * FROM dec_bu.MY_CHURN_DASHBOARD_METRIC'
df_n = c.execute(query).fetchall()
df_n = pd.DataFrame([list(row) for row in df_n], columns = [row[0] for row in c.description])
df_n.to_csv('row1.csv', index=False)

In [29]:
dsnStr = ora.makedsn(host="10.60.54.12", port="1521", service_name="DEC_DATA")
con = ora.connect(user="ADM32157HIEUNGUYENPHI", password="ADM32157HIEU", dsn=dsnStr)
c = con.cursor()
query = '''SELECT TYPE_LV1, TYPE_LV2, TYPE_LV3, COUNT(CLIENT_NO) as VALUE FROM ''' + tmp + ''' WHERE DATETIME = date'2022-11-30' GROUP BY TYPE_LV1, TYPE_LV2, TYPE_LV3'''
df_n = c.execute(query).fetchall()
df_n = pd.DataFrame([list(row) for row in df_n], columns = [row[0] for row in c.description])
df_n.to_csv('row4.csv', index=False)